@font-face {
	font-family: 'Canvas';
	src:url('fonts/Canvas.eot');
	src:url('fonts/Canvas.eot?#iefix') format('embedded-opentype'),
		url('fonts/Canvas.ttf') format('truetype'),
		url('fonts/Canvas.woff') format('woff'),
		url('fonts/Canvas.svg#Canvas') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Canvas';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-new:before {
	content: "\e000";
}
.icon-open:before {
	content: "\e001";
}
.icon-save:before {
	content: "\e002";
}
.icon-print:before {
	content: "\e003";
}
.icon-undo:before {
	content: "\e004";
}
.icon-redo:before {
	content: "\e005";
}
.icon-zoom-in:before {
	content: "\e006";
}
.icon-zoom-out:before {
	content: "\e007";
}
.icon-ruler:before {
	content: "\e008";
}
.icon-library:before {
	content: "\e009";
}
.icon-gear:before {
	content: "\e00a";
}
.icon-select:before {
	content: "\e00b";
}
.icon-edit:before {
	content: "\e00c";
}
.icon-remove:before {
	content: "\e00d";
}
.icon-gesture:before {
	content: "\e00e";
}
.icon-pencil:before {
	content: "\e00f";
}
.icon-palette:before {
	content: "\e010";
}
.icon-brush:before {
	content: "\e011";
}
.icon-marker:before {
	content: "\e012";
}
.icon-eyedropper:before {
	content: "\e013";
}
.icon-brush2:before {
	content: "\e014";
}
.icon-paint:before {
	content: "\e015";
}
.icon-wand:before {
	content: "\e016";
}
.icon-bucket:before {
	content: "\e017";
}
.icon-eraser:before {
	content: "\e018";
}
.icon-pen:before {
	content: "\e019";
}
.icon-wand2:before {
	content: "\e01a";
}
.icon-shapes:before {
	content: "\e01b";
}
.icon-image:before {
	content: "\e01c";
}
.icon-text:before {
	content: "\e01d";
}
.icon-line:before {
	content: "\e01e";
}
.icon-freehand:before {
	content: "\e01f";
}
.icon-rectangle:before {
	content: "\e020";
}
.icon-roundrect:before {
	content: "\e021";
}
.icon-oval:before {
	content: "\e022";
}
.icon-polygon:before {
	content: "\e023";
}
.icon-curve:before {
	content: "\e024";
}
.icon-pan:before {
	content: "\e025";
}
.icon-rotate-left:before {
	content: "\e026";
}
.icon-rotate-right:before {
	content: "\e027";
}
.icon-resize:before {
	content: "\e028";
}
.icon-flip-vert:before {
	content: "\e029";
}
.icon-flip-horiz:before {
	content: "\e02a";
}
.icon-crop:before {
	content: "\e02b";
}
.icon-fontsize:before {
	content: "\e02c";
}
.icon-bold:before {
	content: "\e02d";
}
.icon-italic:before {
	content: "\e02e";
}
.icon-underline:before {
	content: "\e02f";
}
.icon-strikethrough:before {
	content: "\e030";
}
.icon-omega:before {
	content: "\e031";
}
.icon-subscript:before {
	content: "\e032";
}
.icon-superscript:before {
	content: "\e033";
}
.icon-unlink:before {
	content: "\e034";
}
.icon-link:before {
	content: "\e035";
}
.icon-layer:before {
	content: "\e036";
}
.icon-bring-forw:before {
	content: "\e037";
}
.icon-bring-front:before {
	content: "\e038";
}
.icon-send-backw:before {
	content: "\e039";
}
.icon-send-back:before {
	content: "\e03a";
}
.icon-addshape:before {
	content: "\e03b";
}
.icon-subtractshape:before {
	content: "\e03c";
}
.icon-intersectshape:before {
	content: "\e03d";
}
.icon-excludeshape:before {
	content: "\e03e";
}
.icon-mergeshapes:before {
	content: "\e03f";
}
.icon-rotateclockwise:before {
	content: "\e040";
}
.icon-rotatecounterclockwise:before {
	content: "\e041";
}
.icon-resizeh:before {
	content: "\e042";
}
.icon-resizev:before {
	content: "\e043";
}
.icon-lasso:before {
	content: "\e044";
}
.icon-transform:before {
	content: "\e045";
}
.icon-back:before {
	content: "\e046";
}
.icon-search:before {
	content: "\e047";
}
.icon-loading:before {
	content: "\e048";
}
.icon-checkbox-checked:before {
	content: "\e600";
}
.icon-checkbox-unchecked:before {
	content: "\e601";
}
.icon-arrow-down:before {
	content: "\e049";
}
.icon-arrow-right:before {
	content: "\e04a";
}
.icon-big-arrow-right:before {
	content: "\e04b";
}
.icon-big-arrow-down:before {
	content: "\e04c";
}
.icon-help:before {
	content: "\e04d";
}
.icon-font:before {
	content: "\e04e";
}
.icon-group:before {
	content: "\e04f";
}
.icon-ungroup:before {
	content: "\e050";
}
